.cont{
    position:relative;
    height: 100vh;
}
.center-text{
    position: absolute;
    left: 18%;
    top: 25%;
}
.image1{
    position: absolute;
    right: 15%;
    top: 10%;
}
.center-text h6{
    width: 40%;
    font-family: Nunito;
}
.center-text h1 {
    width: 40%;
    font-family: Nunito;
}