@*

*@
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
<link rel="stylesheet" href="~/lib/font-awesome/css/font-awesome.css" />
<link rel="stylesheet" href="~/lib/datatables/css/dataTables.bootstrap4.css" />
<link rel="stylesheet" href="~/css/confirmation.css" />
</head>
<body>
    <div class="confirmtext">
        <h1>
            Your order has been confirmed and processed.
        </h1>
    </div>
    <br />
<button type="button" class="btn btn-outline-primary" id="btn-proceed">Proceed to Proof of Payment</button>
</body>
</html>


