@model LifeLine.Models.PurchaseOrders

@{
    ViewData["Title"] = "Confirmation";
}

<h1>Confirmation</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                @Html.DisplayFor(model => model.OrderID)
            </td>
            <td>
                @Html.DisplayFor(model => model.Price)
            </td>
        </tr>
    </tbody>
</table>
