@model LifeLine.Models.PurchaseOrders

@{
    Layout = null;
}

<head>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/lib/font-awesome/css/font-awesome.css" />
    <link rel="stylesheet" href="~/lib/datatables/css/dataTables.bootstrap4.css" />
    <link rel="stylesheet" href="~/css/receipt.css" />
</head>
<body>
    <div id="invoice">

        <center id="top">
            <div class="logo"></div>
            <div class="info">
                <h1>Payment Complete</h1>
            </div>
        </center>
        <div id="mid">
            <div class="info">
                <p>
                    Thank you! Your payment has been sucessful.
                </p>
            </div>
        </div>

        <div id="bot">


            <div id="table">
                <table>
                    <tr class="tabletitle">
                        <th>
                         
                        </th>
                        <td class="totalprice"><h2>Total Price:</h2></td>
                    </tr>
                    <tr class="output">
                        <td class="tableitem"><p class="idoutput"></p> @Html.DisplayFor(model => model.OrderID) </td>
                        <td class="tableitem"><p class="priceoutput"> @Html.DisplayFor(model => model.Price) </p></td>
                    </tr>
                </table>
            </div>
            <a asp-action="Index" asp-controller="Home" class="btn1" id="btn1">Back to Homepage</a>
        </div>
    </div>
</body>