@page
@model LoginModel
@{
    ViewData["Title"] = "Log in";
}
<head>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" href="~/css/login.css" />
</head>

<div class="wrapper fadeInDown">
    <div id="formContent">
        <!-- Tabs Titles -->
        <!-- Icon -->
        <div class="fadeIn first">
            Admin Login
        </div>

        <!-- Login Form -->
        <form id="account" method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <input type="text" asp-for="Input.Email" class="fadeIn second" placeholder="Email" />
            <input type="password" asp-for="Input.Password" class="fadeIn third" placeholder="password" />
            <label asp-for="Input.RememberMe">
                <input asp-for="Input.RememberMe" />
                @Html.DisplayNameFor(m => m.Input.RememberMe)
            </label>
            <br />
            <input type="submit" class="fadeIn fourth" value="Log In">
        <!-- Remind Passowrd -->
        </form>
        <div id="formFooter">
            <a class="underlineHover" href="#">Forgot Password?</a>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}